<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:jsp="http://java.sun.com/JSP/Page">

<head>
    <meta charset="UTF-8">
    <style>
        html, body, #container {
            width: 80%;
            height: 80%;
        }
    </style>

    <title>Графики температуры и влажности</title>
</head>

<body>
<a href="\motor">BACK</a><br/>
<h2>GRAF</h2>


<div id="container"></div>
<script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
<script src="https://cdn.anychart.com/js/latest/data-adapter.min.js"></script>

<script>
    anychart.onDocumentLoad(function() {
        // create chart and set data
        var chart = anychart.line();
        // parse table
        var tableData = anychart.data.parseHtmlTable("#htmlTable");
        chart.data(tableData);
        chart.legend(true);
        // set chart container and draw
        chart.container("container").draw();
    });</script>


<div>
    <table border="1" id="htmlTable">
        <tr>
            <th>Date</th>
            <th>Temperature</th>
            <th>Humidity</th>
        </tr>
        <tr th:each ="dhl : ${dhlList}">
            <td th:utext="${dhl.getDate()}">...</td>
            <td th:utext="${dhl.getTemperature()}">...</td>
            <td th:utext="${dhl.getHumidity()}">...</td>
        </tr>
    </table>
</div>

<!--<div id="container"></div>-->
<!--<script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>-->
<!--<script src="https://cdn.anychart.com/js/latest/data-adapter.min.js"></script>-->

<!--<script>-->
<!--    anychart.onDocumentLoad(function() {-->
<!--        // create chart and set data-->
<!--        var chart = anychart.line();-->
<!--        // parse table-->
<!--        var tableData = anychart.data.parseHtmlTable("#htmlTable");-->
<!--        chart.data(tableData);-->
<!--        chart.legend(true);-->
<!--        // set chart container and draw-->
<!--        chart.container("container").draw();-->
<!--    });</script>-->

</body>
</html>