<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MOTOR</title>
</head>
<body>
<h2>MOTOR !!!</h2>

<!-- Часы-->
<script language="javascript" type="text/javascript">
var d = new Date();

var day=new Array("Воскресенье","Понедельник","Вторник",
    "Среда","Четверг","Пятница","Суббота");

var month=new Array("января","февраля","марта","апреля","мая","июня",
    "июля","августа","сентября","октября","ноября","декабря");

document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
    + " " + d.getFullYear() + " г.");
</script>

<span id="clock" style="color:black;">
</span>
<script>
    setInterval(function () {
        var now = new Date();
        var clock = document.getElementById("clock");
        clock.innerHTML = now.toLocaleTimeString();
    }, 1000);
</script>

<div id="current-date"></div>
</br>

<form action="#" data-th-action="@{/motor}" method="post">
    <button type="submit" name="btn_" value="open">ОТКРЫТЬ</button>
    <button type="submit" name="btn_" value="close">ЗАКРЫТЬ</button>
    <a href="/graf">ГРАФИКИ</a>
    <br>
    <p th:text="${op}"></p>
</form>



<form method="get">
    <p th:text="'Сейчас температура: ' + ${temperature}"></p>
    <p th:text="'Сейчас влажность: ' + ${humidity}"></p>
    <br>
    <input type="text" name="temper" placeholder="Ввод температуры "/>
    <input type="submit" value="Включение авторежима"/>
    <br>
    <p th:text="'Режим ' + ${auto}"></p>
    <p th:text="${op}"></p>
</form>


</body>
</html>